*
	margin:0
	padding:0

#main_li
	// position:relative
	border: 2px solid green

.detail_wrap
	position: relative
	/*border: 2px solid orange*/
	/*display:inline-block*/
	width: 960px
	margin-top: 10px

.details_img
	/*position:relative*/
	/*border: 2px solid red*/
	width:400px
	height:300px
	text-align:center
	box-shadow: 0 0 10px 5px #ADB1B3

.det_img
	max-width: 80%
	height: 75%

.detail_descript
	position: absolute
	height: 300px
	width: 510px
	top: 0
	right: 0
	text-align: justify
	box-shadow: 0 0 10px 5px #ADB1B3
	padding: 8px
	font-weight:600
	
	
.detail_name
	margin-top: 5px
	width: 200px
	// border: 2px solid black
	font-size: 25px
	font-weight:600


.detail_prina
	// border: 2px solid black
	margin-top: 10px
	width: 960px
	height: 60px
		
.detail_rev
	position: absolute
	width:150px
	float: left
	margin-top:-10px
	

.detail_btn
	margin-top: 8px
	float: right
	width: 140px
	height: 45px
	border-radius: 5px
	color: #7E8182
	background: #D4D8D9
	font-weight: 600
	box-shadow: 0 0 8px 3px #ADB1B3

.detail_ul li
	display: inline-block
	border:2px solid #B4B7B8
	margin:7px
	width: 60px
	height:60px
	box-shadow: 0 0 10px 5px #ADB1B3

.detail_ul img
	width: 100%
	height:100%

.detail_form
	box-shadow: 0 0 10px 5px #ADB1B3
	width:600px
	margin-bottom:15px
	margin-top:15px

.form
	/*border:2px solid red*/
	width:560px
	

.text_blue
	margin-top:10px
	margin-left:45%

.detail_author
	width: 420px
	padding: 12px 20px
	margin: 8px
	margin-left: 15px
	box-sizing: border-box
	border:2px solid #ADB1B3

.detail_rating
	width: 135px
	padding: 12px 20px
	margin-left: 2px
	box-sizing: border-box
	border:2px solid #ADB1B3

.detail_textarea
	width: 95%
	padding: 12px 20px
	margin: 8px
	margin-left: 15px
	box-sizing: border-box
	border:2px solid #ADB1B3

.detail_btn_form
	margin-top: 8px
	margin-bottom:10px
	margin-left:45%
	width: 120px
	height: 35px
	border-radius: 5px
	color: #7E8182
	background: #D4D8D9
	font-weight: 600
	box-shadow: 0 0 8px 3px #ADB1B3
	
