
body
	font-family: Arial, Helvetica, sans-serif

.view_wrap
	position: relative
	display: table
	margin:0 auto
	width:960px

#main_li
	border: 2px solid #ADB1B3
	margin:10px
	width:280px
	height:530px
	box-shadow: 0 0 10px 5px #ADB1B3		
	
.main_img
	/*border: 2px solid red*/
	width:100%
	height:250px
	text-align:center

.my_img
	max-width:100%
	padding-top: 7px
	
.phone_prina
	width:100%
	height:80px
	/*border: 2px solid silver*/
	
.phone_name
	margin-top:13px
	width:150px
	height:50px
	/*border: 2px solid black*/
	float:left
	text-align:center
	// background:#BAC0C2
	font-size: 15px
	font-weight: 600
		
.phone_price
	float:right
	margin-top:13px
	width:80px
	height:50px
	/*border: 2px solid yellow*/
	text-align:center
	padding-top:10px
	font-size: 20px
	background:#B4B7B8
			
.main_text
	text-align: justify
	margin-top:15px
	text-indent: 2.5em


.btn_main
	position: absolute
	bottom: 10px
	left: 75px
	width: 120px
	height: 40px
	border-radius: 5px
	color: #7E8182
	background: #D4D8D9
	font-weight: 600
	box-shadow: 0 0 8px 3px #ADB1B3

