.comment-wrapper
	position: relative
	width: 960px
	box-shadow: 0 0 8px 3px #ADB1B3
	margin-bottom: 15px
	margin-top: 10px
	

.comment-author
	font-size: 25px
	font-weight: 600
	width: 150px
	margin-top: 5px
	margin-left: 10px
	

.comment-rating
	position: absolute
	margin-top: 5px
	right: 10px
	top: 0
	text-align: center
	font-size: 25px
	font-weight: 600
	width: 70px
	border-radius:50%
	box-shadow: 0 0 8px 3px #ADB1B3
	
.comment-text
	font-size: 15px
	font-weight: 600
	margin-left: 10px
	
.comment-date
	padding-left: 860px
	font-size: 15px
	font-weight: 600
	right: 0
	