
<div class="wrap">
	<div class="container">
		<div class="navbar_wrap">
			<ul class="navbar">
			  <li class="navbar_home"> <a ui-sref="home">Home</a></li>
			  <li class="navbar_details"> <a ui-sref="details">Details</a></li>
			  <li class="navbar_contact"> <a ui-sref="contact">Contacts</a></li>
			 </ul>
		</div>
		<div class="search">
			<span class="icon"></span>

			<input class="serch_phone" name="search" placeholder="Search phones ..." type="search">
		</div>
	</div>

	<div class="logo">
		<div class="name">
			<img src="../../assets/images/logo.png"> 
		</div>
		
		<div class="sort">
			<input class="sorting_phone" name="sorting" placeholder="Sorting phones ..." type="sorting">
		</div>
	</div>
</div>